.box {
  max-height: 48px;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}

.box.open {
  max-height: 128px;
  transition: max-height 0.3s cubic-bezier(0.9, 0, 0.8, 0.2);
}

.preview-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-text {
  display: block;
  -webkit-line-clamp: none;
  -webkit-box-orient: none;
  overflow: visible;
}
